*{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
html{
  min-height: 100%;
}
body{
  background: #f1faee;
}

h2{
  margin-left: 20px;
}
.header{
  background: #4361ee;
  width:100%;
  height: 120px;;
  position:absolute;
  top:0;
  left:0;
}

.formulario{
  display: inline-block;
  flex-flow: row wrap;
  align-items: center;
}

input,button {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
}
button{
  background-color: #4895ef;
  border: 1px solid transparent;
}

input{
  background: #fff;
  color: #a3a3a3;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1); 
	outline: 0;
  border: 1px solid transparent;
}

h3{
  color: #1d3557;
}
.categoriaBuscada{
  text-align: center;
}

.loading{
  color: #1d3557;
  text-align: center;
}

.contenido{
  min-width: 100%;
}
.card-grid{
  display: grid;
  grid-gap: 10px;
  margin: auto;
}

@media (min-width: 600px) {
  .card-grid { grid-template-columns: repeat(1, 1fr);}
}

@media (min-width: 900px) {
  .card-grid { grid-template-columns: repeat(3, 1fr); }
}


.card{
  width: auto;
  display: inline-block;
  border: 1px solid #caf0f8;
  border-radius: 5px;
  margin-bottom: 10px;

}

.card p{
  color: #1d3557;
  text-align: center;
}

.card img{
  display: block;
  margin: auto;
  max-width:100%;
  max-height:100%;
  
}