*{
  font-family: Helvetica, Arial, sans-serif;
  font-size: x-large;
  color: #FFFFFF;
}

body{
  padding: 60px;
  background-color: #015474;
}
button{
  background-color: #02202c;
  border-radius: 5px;
  font-size: 20px;
}

input{
  color: grey;  
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;

}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}